
:root{
    --animate-during: 0.6s;             /*动效时间*/
    --height: 200px;                    /*图片大小*/
    --selected-expand: 1.05;           /*悬停时图片大小*/
    --selected-shadow: 10px;             /*悬停时图片向上向左偏移*/
    --margin: 7px;                     /*图片之间的间距*/
    --panel-padding: 12px;                /*悬停时信息面板视觉上的padding*/
    --selected-up: 15px;                /*悬停时图片抬升*/
    /* --selected-push */
}
body {
    background-color: aliceblue;
}
main {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: var(--animate-during);
}

.wrapper{
    width: var(--width);
    height: var(--height);
    margin: var(--margin);
    z-index: 0;
    transition: z-index var(--animate-during); 
}

.wrapper:hover{
    z-index:1;
}

.img-panel{
    width: var(--width);
    border-radius: 10px;
    background-color:thistle;
    transition: var(--animate-during);
    
}

.wrapper:hover .img-panel{
    width:calc(var(--width) * var(--selected-expand) + var(--selected-shadow));
    margin-top: calc(0px - var(--selected-up) - var(--panel-padding));
    margin-left: calc(0px - var(--selected-up) - var(--panel-padding));

    
    padding: var(--panel-padding);
}

.tagbar{
    background-color: hotpink;
    border-radius: 50px;
    padding: 0px;
    height: 0px;
    margin-top: 0px;
    opacity: 0;
    transition: var(--animate-during);
}
.wrapper:hover .tagbar{
    height: 20px;
    margin-top: 5px;
    opacity: 1;
}

.picture {
    width: var(--width);
    display: block;
    border-radius: 10px;
    transition: var(--animate-during);
}

.wrapper:hover .picture{
    width:calc(var(--width) * var(--selected-expand));
    margin-bottom: var(--selected-shadow);
    box-shadow: var(--selected-shadow) var(--selected-shadow) 7px gray;
}

.info-bar{
    overflow: hidden;
    height:0px;
    transition: var(--animate-during);
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-items: space-between;
}
.wrapper:hover .info-bar{
    /* height should be set by Javascript*/
    height: 14px;
}
.info{
    display: block;
    font-size: 12px;
    color:#494949;
}

.resolution{
    position: left;
}
.date{
    position: right;
}