
:root{
    --animate-delay: 0.1s;
    --animate-during: 0.6s;             /*动效时间*/
    --height: 200px;                    /*图片大小*/
    --selected-expand: 1.05;           /*悬停时图片大小*/
    --selected-shadow: 10px;             /*悬停时图片向上向左偏移*/
    --margin: 5px;                     /*图片之间的间距*/
    --panel-padding: 12px;                /*悬停时信息面板视觉上的padding*/
    --selected-up: 15px;                /*悬停时图片抬升*/
    --fullscreen-popup: 10px;
    --fullscreen-animate: 400ms;
    /* --selected-push */
}
body {
    background-image:url(assets/background.png), linear-gradient(#f5fffa, #f5fffa) ;
    background-size: 550px;
    background-attachment: fixed;
}
main {
    width: 95%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.img-wrapper{
    width: var(--width);
    height: var(--height);
    margin: var(--margin);
    z-index: 0;
    transition: z-index var(--animate-during); 
}

.img-wrapper:hover{
    z-index:1;
    transition: z-index 0s; 
}

.img-panel{
    position: relative;
    top: 0px;
    left: 0px;
    width: var(--width);
    border-radius: 10px;
    background-color:rgba(216,191,216,0.85);
}

.img-wrapper:hover .img-panel{
    width:calc(var(--width) * var(--selected-expand) + var(--selected-shadow));
    top: calc(0px - var(--selected-up) - var(--panel-padding));
    left: calc(0px - var(--selected-up) - var(--panel-padding));
    padding: var(--panel-padding);
}

.tagbar{
    background-color: hotpink;
    border-radius: 50px;
    padding: 0px;
    height: 0px;
    margin-top: 0px;
    opacity: 0;
}

.img-wrapper:hover .tagbar{
    height: 20px;
    margin-top: 5px;
    opacity: 1;
}

.picture {
    position: relative;
    top: 0px;
    left: 0px;
    width: var(--width);
    display: block;
    border-radius: 10px;
}

.img-wrapper:hover .picture{
    width:calc(var(--width) * var(--selected-expand));
    margin-bottom: var(--selected-shadow);
    box-shadow: var(--selected-shadow) var(--selected-shadow) 7px gray;
}

.img-wrapper:hover .picture:active {
    --new-shadow: calc(var(--selected-shadow) + var(--fullscreen-popup));
    left: calc(0px - var(--fullscreen-popup));
    top: calc(0px - var(--fullscreen-popup));
    margin-bottom: var(--new-shadow);
    box-shadow: var(--new-shadow) var(--new-shadow) 7px gray;
    transition:cubic-bezier(0.215, 0.610, 0.355, 1) var(--animate-during);
    
}

.info-wrapper{
    overflow: hidden;
    height: 0px;
}
.img-wrapper:hover .info-wrapper{
    height: var(--info-height);
}

.info-bar{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.info{
    font-size: 12px;
    color:#494949;
}


/* transition */
.img-panel, 
.picture, 
.info-wrapper, 
.tagbar{
    transition: var(--animate-during);
}

.img-wrapper:hover .img-panel,
.img-wrapper:hover .picture,
.img-wrapper:hover .info-wrapper, 
.img-wrapper:hover .tagbar{
    transition: var(--animate-during) var(--animate-delay);
}


.fullscreen-bg{
    z-index: 2;
    position: fixed;
    height: 100vh;
    width: 100vw;
    left: 0px;
    top: 0px;
    background-color: rgba(0,0,0,0); 
}

.fullscreen-bg[appear="appear"]{
    background-color: rgba(0,0,0,0.7);
    backdrop-filter: blur(5px);
}

.fullscreen-img{
    position: fixed;
    max-height: var(--imgHeight);
    max-width: var(--imgWidth);
    left: var(--fixed-left);
    top: var(--fixed-top);
}

.fullscreen-img[appear="appear"]{
    max-height: 90vh;
    max-width: 90vw;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.fullscreen-bg,
.fullscreen-img{
    transition: var(--fullscreen-animate);
}
